@import "~sakura-js/dist/sakura.min.css";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

.window {
	width: inherit;
	height: 100vh;
    display: flex;
    flex-direction: column;

    #front {
        flex: 1 0 auto;
    }

    navbar {
        z-index: 15;
    }
}

#home {
    position: absolute;
    width: 100vw;
    height: 87%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
		width: auto;
		height: 100%;
	}
    
	h1 {
        align-self: flex-end;
        font-family: 'Fleur De Leah', cursive;
        background: -webkit-linear-gradient(20deg, #FF033E, #861322);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        background-size: 100%;
		font-size: 8rem;
		margin-left: 2rem;
        padding-right: 1rem;
		margin-bottom: 3rem;
	}
}

.ground {
    position: absolute;
	width: 100vw;
    height: 87%;
    overflow: hidden;
}

#shapes {
	z-index: 1;
}

#sakuraLeaves {
	z-index: 11;
}

#triangle {
	border-bottom: 100vh solid rgba(255, 221, 244, 0.6);
	border-left: 100vw solid transparent;
}

#shadow {
	border-bottom: 90vh solid rgba(255, 221, 244, 0.6);
	border-left: 90vw solid transparent;
}

.retroshadow {
	text-shadow: unset;
}

@media screen and (max-width: 800px) {
    #home {
        flex-direction: column;
        overflow-x: hidden;
        justify-content: center;

        h1 {
            // text-align: left;
            // justify-self: flex-end;
            // font-size: 3rem;
            // padding-left: 10px;
            display: none;
        }

        img {
            position: absolute;
            text-align: center;
        }
    }
}