nav {
    padding: 5px;
    background: rgba(255, 255, 255, 1) !important;
    border-bottom: solid;
    position: sticky;
    top: 0;
    min-height: 5vh;
    overflow: hidden;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
    }

    a {
        color: black;
        text-decoration: none;
    }
}
