nav {
    padding: 5px;
    background: white;
    border-bottom: solid;
    min-height: 5vh;
    overflow: hidden;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
    }
    
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
    }

    .retroshadow {
        font-family: "Dancing Script", cursive;
        font-size: 3rem;
        margin: 15px;
    }

    a {
        color: black;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }
}

