#window {
    section {
        height: 100vh;
        width: inherit;
        background-color: white;
    }

    .panel {
        height: inherit;
        width: inherit;
        display: block;
        z-index: 2;
        position: relative;
    }
}

.background {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
}

.background:first-of-type {
    top: 100vh;
}

footer {
    border-top: solid;
    position: relative;
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    fa-icon {
        margin-left: 10px;
    }
}

