/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html, body {
	margin: 0;
	padding: 0;
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

.sakura {
    position: absolute;
    z-index: 11;
}

.retroshadow {
	color: #202020;
	letter-spacing: 0.05em;
	text-shadow: 4px 4px 0px #ebeaea, 7px 7px 0px rgba(0, 0, 0, 0.2);
}
