/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html, body {
	margin: 0;
	padding: 0;
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

.sakura {
    position: absolute;
    z-index: 11;
}

.retroshadow {
	color: #202020;
	letter-spacing: 0.05em;
	text-shadow: 4px 4px 0px #ebeaea, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

.teximate-word {
    padding: 10px;
}

.teximate-paragraph {
    margin: 0;
}

/* Let's get this party started */
// html::-webkit-scrollbar {
//     width: 15px;
// }
 
// /* Track */
// html::-webkit-scrollbar-track {
//     background-color: rgba(255, 221, 244, 0.6);
//     border-radius: 100px;
// }
 
// /* Handle */
// html::-webkit-scrollbar-thumb {
//     border-radius: 100px;
//     border: 6px solid rgba(0, 0, 0, 0.18);
//     border-left: 0;
//     border-right: 0;
//     background-color: rgba(214, 161, 2, 0.4);
// }
