<div class="keyart-container" id="painting">
    <div
        class="keyart parallax"
        id="keyart0"
        data-speed="2"
        style="transform:translate3d(0px,0px,0px)"
    ></div>
    <div
        class="keyart parallax"
        id="keyart1"
        data-speed="20"
        style="transform:translate3d(0px,0px,0px)"
    ></div>
    <div
        class="keyart parallax"
        id="keyart2"
        data-speed="25"
        style="transform:translate3d(0px,0px,0px)"
    ></div>
    <div
        class="keyart parallax"
        id="keyart3"
        data-speed="40"
        style="transform:translate3d(0px,0px,0px)"
    ></div>
    <div
        class="keyart parallax"
        id="keyart4"
        data-speed="44"
        style="transform:translate3d(0px,0px,0px)"
    ></div>
    <div
        class="keyart parallax"
        id="keyart5"
        data-speed="50"
        style="transform:translate3d(0px,0px,0px)"
    ></div>
    <div
        class="keyart parallax"
        id="keyart6"
        data-speed="60"
        style="transform:translate3d(0px,0px,0px)"
    ></div>
    <div
        class="keyart parallax"
        id="keyart7"
        data-speed="96"
        style="transform:translate3d(0px,0px,0px)"
    ></div>
    <div
        class="keyart parallax"
        id="keyart8"
        data-speed="105"
        style="transform:translate3d(0px,0px,0px)"
    ></div>
    <div
        class="keyart parallax"
        id="keyart9"
        data-speed="140"
        style="transform:translate3d(0px,0px,0px)"
    >
        <!-- <div class="spacer" /> -->
    </div>
</div>
